KAFKA_IMAGE=confluentinc/cp-kafka:7.8.0
SCHEMA_REGISTRY_IMAGE=confluentinc/cp-schema-registry:7.8.0
CLICKHOUSE_IMAGE=clickhouse/clickhouse-server:26.6.3.62
KAFKA_UI_IMAGE=provectuslabs/kafka-ui:v0.7.2
